name: test on CI
on:
  push:
    branches: [master]
  pull_request:
jobs:
  test-legacy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["1.9", "2.0", "2.1", "2.2"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: bundle exec rake test (within ruby:${{ matrix.ruby }} image)
        uses: addnab/docker-run-action@v3
        with:
          image: ruby:${{ matrix.ruby }}
          options: -v ${{ github.workspace }}:/work
          run: |
            cd /work
            bundle install
            bundle exec rake test
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          [
            "2.3",
            "2.4",
            "2.5",
            "2.6",
            "2.7",
            "3.0",
            "3.1",
            "3.2",
            "3.3",
            "3.4",
            "head",
            "jruby-head",
          ]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake test
